html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* actor-regular - latin */
@font-face {
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/actor-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/actor-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* adamina-regular - latin */
@font-face {
    font-family: 'Adamina';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/adamina-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/adamina-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
}  
body{
    display: flex;
    flex-direction: column;
    font-family: 'Actor';
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    color: #3F3F3F;
    background: #F4F4F4;
    min-height: 100vh;
}
img {
  display: flex;
  max-width: 100%;
  height: auto;
}
.wrapper{
    max-width: 1200px;
    margin: auto;
    padding-left: 130px;
    padding-right: 130px;
}
/*header*/
.header{
    background-color:#0E4447;
    height: 60px;
}
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
}
.header__logo-pic{
    width: 58px;
    height: 33px;
}
.header__logo{
  padding-top: 13px;      
}
.header__text{
  width: 230px;
  height: 60px;
  margin-left:12px;
  font-family: 'Adamina';
  font-size: 24px;
  line-height: 33px; 
  display: flex;
  align-items: center;
  color: #F4F4F4;
}
.main{
  flex-grow: 1;
}
/*intro*/
/* для элемента input c type="checkbox" */
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  /* для элемента label, связанного с .custom-checkbox */
  .custom-checkbox+label {
    display: flex;
    align-items: center;
    user-select: none;
  }
  /* создание в label псевдоэлемента before со следующими стилями */
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    margin-right: 0.5em;
    background: #E4E4E4;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    cursor: pointer; 
  }
  /* стили при наведении курсора на checkbox */
  .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    background-color: #FEED7E;
  }
  /* стили для чекбокса, находящегося в состоянии checked */
  .custom-checkbox:checked+label::before {
    background-color: #e9ecef;
    background-image: url("../img/svg/checkbox_1.svg");
    
  }
/* стили при наведении курсора на checkbox */
  .custom-checkbox:not(:disabled):checked+label:hover::before {
    background-color: #FEED7E;
  }
  /* стили для чекбокса, находящегося в состоянии disabled */
  .custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
  }
.intro{
  padding-top: 42px;
}
.intro__text{
  display: flex;
  width: 460px;
  height: 29px;
  font-size: 24px;
  line-height: 29px;
}
.intro__check{
  width: 190px;
  height: 17px;
  margin-left: 35px;
  padding-top: 6px;
  font-size: 14px;
  line-height: 17px;
}
.intro__checkbox_text{
  border-radius: 8px;
  line-height: 17px;
  color: #454545;
}
.intro__selector{
  display: grid;
  background: #E4E4E4;
  width: 220px;
  height: 32px;
  align-items: center;
  border-radius: 6px;
  margin-left: 35px;
  cursor: pointer;
  grid-template-areas: "selector";
}
.selector{
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 8px 20px 7px 10px;
  width: 100%;
  cursor: inherit;
  outline: none; 
  font-size: 14px;
  line-height: 17px; 
  color: #454545;
  grid-area: selector; 
  }
.intro__selector:after{
  content: "";
  width: 20px;
  height: 12px;
  margin-right: 13px;
  background: url("../img/svg/selector.svg") right no-repeat;
  justify-self: end;
  grid-area: selector; 
}
option{
  background: #E4E4E4;
}
/*grid*/
.row__wrapper{
  max-width: 1200px;
  margin: auto;
  padding-left: 130px;
  padding-right: 110px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 39px;
}
.column {
  max-width: 100%;
  min-height: 1px;
  margin-bottom: 20px;
  margin-right: 20px;
  background: #FFFFFF;
  border-radius: 6px 6px 6px 6px;
  cursor: pointer;
}
.column:hover{
  box-shadow: 0 5px 12px 3px rgb(170, 170, 170);
  transition: all 0.5s ease;
}
.column__img, .column__img__in{
  position:relative;
  display:flex;
  width: 220px;
  height: 146px;
  border-radius: 6px 6px 0px 0px;
}
.column__img__in:after {
  content:'';
  position:absolute;
  width: 220px;
  height: 146px;
  border-radius: 6px 6px 0px 0px;
  background: linear-gradient(180deg, #208085 0%, rgba(32, 128, 133, 0.0001) 100%);
}
.column__img__text{
  position:absolute;
  z-index:  100;
  margin: 16px 20px 108px 20px;
  width: 180px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #58FFB5;
}
.column__info, .column__info__in{
  width: 220px;
  height: 203px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  align-content: center; 
  justify-content: center; 
  overflow: auto;
  border-radius: 0px 0px 6px 6px;
}
.column__info__in{
  background: #208085;
}
.column__info__header, .column__info__header__in{
  width: 180px;
  height: 22px;
  text-align: center;
  margin-bottom: 9px;
  line-height: 22px;
}
.column__info__header_text{
  line-height: 22px;
}
.column__info__header__in{
  color: #FFFFFF;
}
.column__info_text, .column__info_text__in{
  width: 180px;
  height: 34px;
  text-align: center;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #767676;
}
.column__info_text__in{
  color: #E7E7E7;
}
.column__info__accept{
  margin-bottom: 10px;
}
.column__info__dis{
  width: 180px;
  height: 32px;
}
.button__accept, .button__dis, .button__dis__in{
  width: 180px;
  height: 32px;
  padding: 8px auto 7px auto;
  outline: none;
	border: none;
  border-radius: 16px;
  text-align: center;
}
.button__accept{
  color: #208085;
  background: #58FFB5;
  cursor: pointer;
}
.button__accept:hover{ 
  background: #FEED7E; 
}
.button__accept:active {
  background: rgb(11, 185, 98);
}
.button__dis, .button__dis__in{
  color: #FFFFFF;
  background: #208085;
  cursor: pointer;
}
.button__dis__in{
  border: 2px solid #FFFFFF;
}
.button__dis:hover { 
  background: #0E4447; 
}
.button__dis__in:hover { 
  background: #0E4447; 
}
.button__dis:active {
  background: rgb(11, 185, 98);
}
.button__dis__in:active {
  background: rgb(11, 185, 98);
}
/*modal*/
.modal {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(14, 68, 71, 0.201377);
  backdrop-filter: blur(81.5485px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding-top: 20px;
}
.modal_active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: .3s;
}
.hidden {
  overflow: hidden;
}
.modal__close{
  display: flex;
  flex-wrap: wrap;
  margin-left: 11px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.modal__content {
  width: 100%;
  max-width: 460px;
  max-height: 754px;
  background: #f9f9f9;
  border-radius: 6px;
  position: relative;
}
.modal__column {
  background: #FFFFFF;
  border-radius: 6px;
  position: relative;
  flex: 0 0 auto;
}
.modal__img, .modal__img__in{
  position:relative;
  display:flex;
  max-width: 460px;
  max-height: 400px;
}
.modal__info{
  max-width: 460px;
  max-height: 400px;
  padding: 20px 30px;
  overflow: auto;
  border-radius: 0px 0px 6px 6px;
}
.modal__info__header, .modal__info__header__in{
  max-width: 180px;
  max-height: 22px;
  margin-bottom: 9px;
  font-size: 24px;
  line-height: 29px;
}
.modal__info_text{
  max-width: 180px;
  max-height: 34px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 24px;
  color: #767676;
}
.modal__msg{
  font-size: 14px;
  line-height: 17px;
  color: #767676;
  margin-bottom: 36px;
}
.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer{
  flex-shrink: 0;
  height: 40px;
  margin-top: 90px;
  background: #0E4447;
}
.footer__text{
  margin: 12px auto 11px auto;
  text-align: center;
  color: #F4F4F4;
  font-size: 14px;
}

